* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: rgb(170, 170, 170);
}
.content {
  flex: 1;
  padding: 10px;
}
input {
  width: 100px;
  height: 25px;
  padding: 5px;
  border: 1px solid #000000;
}
ul {
  list-style: none;
  text-align: start;
  padding: 0;
}
.github-link {
  text-decoration: none;
  color: black;
}
.list-container {
  max-height: 300px;
  min-height: 300px;
  overflow-y: auto;
  font-size: 1.5rem;
  padding: 15px;
}
